	<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	  <sitecore>

		<unicorn>
		  <configurations>
			<configuration name="BlogUnicornConfig" description="This is configuration for Unicorn for Blog">
			  <targetDataStore physicalRootPath="C:\Projects\Blog\src\Feature\Blog\Serialization" useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true"/>
			  <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true" >
				<!--Tempaltes-->
				<include name="Blog.Templates" database="master" path="/sitecore/Templates/Feature/Blog">
				  <!-- <exclude children="true"/> -->
				</include>

				<include name="Blog.Renderings" database="master" path="/sitecore/Layout/Renderings/Feature/Blog">
				  <!-- <exclude children="true"/> -->
				</include>

				<include name="Blog.Content" database="master" path="/sitecore/Content/Blog">
				  <!-- <exclude children="true"/> -->
				</include>

				<include name="Blog.Dictionary" database="master" path="/sitecore/System/Dictionary/Blog">
					<!-- <exclude children="true"/> -->
				</include>
			  </predicate>
			</configuration>
		  </configurations>
		</unicorn>
	  </sitecore>
	</configuration>