@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/asset/styles/bootstrap-themed.min.css">
    <link rel="stylesheet" href="~/asset/styles/blogsite.css">

    <link rel="stylesheet" href="~/asset/styles/basicstyle.css">
    <script src="~/asset/scripts/basicscript.js"></script>
</head>
<body>

    <div>
        @Html.Sitecore().Placeholder("phMain")
    </div>

</body>
</html>